<!doctype html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 <body>
 <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<dl>
				<dt>
					Description lists
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
				<dt>
					Euismod
				</dt>
				<dd>
					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				</dd>
				<dd>
					Donec id elit non mi porta gravida at eget metus.
				</dd>
				<dt>
					Malesuada porta
				</dt>
				<dd>
					Etiam porta sem malesuada magna mollis euismod.
				</dd>
				<dt>
					Felis euismod semper eget lacinia
				</dt>
				<dd>
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</dd>
			</dl>
			<form role="form" method="post">
				<div class="form-group">
					 <label for="exampleInputEmail1">本体库名</label><input name="onto_name" type="text" class="form-control" id="exampleInputEmail1" />
				</div>
				<div class="radio">
					<label><input type="radio" name="pub_priv" vlaue="public" />公开</label>
					<label><input type="radio" name="pub_priv" value="private" />私有</label>
				</div>
				<div class="form-group">
					 <label for="exampleInputFile">上传本体文件</label><input type="file" id="exampleInputFile" />
					<p class="help-block">
						Example block-level help text here.
					</p>
				</div>
				<div class="checkbox">
					 <label><input type="checkbox" />Check me out</label>
					 <button type="submit" class="btn btn-default" name="submit">提交</button>
				</div> 
			</form>
		</div>
	</div>
</div>
  
 </body>
</html>
